<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h4>Sayfalar</h4>
          {% for my_page in site.pages %}
          <li><a  href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <h4>İletişim</h4>
              <li><a href="http://www.twitter.com/fuadlibilisim">Twitter</a></li>
              <li><a href="http://www.facebook.com/fuadlibilisim">Facebook</a></li>
              <li><a href="https://github.com/fuadlibilisim">Github</a></li>
              <li><a href="mailto:fuadlibilisim@gmail.com">E-posta</a></li>
              <li><a href="https://telegram.me/fuadlibilisim">Telegram</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h4>Linkler</h4>
        <ul class="social-media-list">
          <li><a href="http://ab.tek.firat.edu.tr">ABM Bölümü</a></li>
          <li><a href="http://fusiberguvenlik.com">FU SGT</a></li>
          <li><a href="http://adlibilisimmuhendisligi.com/">ABM</a></li>
          <li><a href="{{ '/feed.xml' | relative_url }}">RSS</a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
    </div>

    <div style="clear:both" class="copyright" ></div>
    <div class="copyright">
    <a rel="license"  href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Lisansı" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />Bu eser <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"> Creative Commons Alıntı-Gayriticari 4.0 Uluslararası Lisansı</a> ile lisanslanmıştır.
  </div>
</div>
  

</footer>
