---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      •{% assign words = content | number_of_words %}
      {% if words < 360 %}
      1 dakika
      {% else %}
         {{ words | divided_by : 180 }} dakika
      {% endif %} okuma
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  {% if page.youtube %}
  <div class="spacing-yt">
  <iframe width="740" height="400" src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
  </div>
  {% endif %}
  {% if page.slideshare %}
  <div class="spacing-slideshare">
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/{{page.slideshare}}" width="740" height="714" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
  </div>
  {% endif %}
  <div class="author">
    <h3>Yazar : </h3><h3>{{page.author}}</h3>
    {% if page.tw-author %}
    •<a href="http://twitter.com/{{page.tw-author}}">Twitter</a>
    {% endif %}
    {% if page.fb-author %}
    •<a href="http://facebook.com/{{page.fb-author}}">Facebook</a>
    {% endif %}
    {% if page.gh-author %}
    •<a href="http://github.com/{{page.gh-author}}">Github</a>
    {% endif %}
  </div>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
